### Cync Cloud Credentials
# These must be entered for the export web app to work
CYNC_ACCOUNT_USERNAME="cync-account-email@gmail.com"
CYNC_ACCOUNT_PASSWORD="cync-account-password"

### CORE Configuration
# Where cync-lan will store its files (default has a docker container in mind), CYNC_CONFIG_DIR is apopended to this
#CYNC_BASE_DIR="/root/cync-lan"
# Directory where persistent files will live (cync_mesh.yaml, uuid.txt, etc.), you can omit the beginning '/',
# it will be added automatically if it is missing. Appended to CYNC_BASE_DIR, so if CYNC_BASE_DIR is /data and CYNC_CONFIG_DIR is "config", the final path will be /data/config
#CYNC_CONFIG_DIR="/config" # "config" is the same as "/config"
# Interface to listen for cync devices on [default: 0.0.0.0]
#CYNC_SRV_HOST="192.168.45.67"
# disable the local webserver to export devices [default: yes]
#CYNC_ENABLE_EXPORTER=no
# Instead of querying the cloud, read a previously exported raw_mesh.cync file. For debugging only, not recommended for regular use.
#CYNC_EXPORT_SOURCE: /root/cync-lan/config/raw_mesh.cync
# Interface to bind the exporter web server to [default: CYNC_SRV_HOST value
#CYNC_EXPORT_HOST="127.0.0.1"
#CYNC_EXPORT_PORT=23778

# when using the exporter, overwrite cync_mesh.yaml instead of using a numbered backup.
# This is useful for home assistant users who want to use the cync-lan exporter, but don't want a
# million copies of cync_mesh.yaml in their config directory. [default: no]
#CYNC_OVERWRITE_CONFIG_FILE=yes

### MQTT Settings
#CYNC_MQTT_HOST="homeassistant.local"
#CYNC_MQTT_PORT=1833
#CYNC_MQTT_USER: "username"
#CYNC_MQTT_PASS: "password"
#CYNC_TOPIC: "cync_lan"
#CYNC_HASS_TOPIC: "homeassistant"
# Whenever cync-lan is d/c from mqtt broker, it will wait this long before trying to reconnect.
#CYNC_MQTT_CONN_DELAY=10

### TUNABLES
# How many TCP devices to send a state change command to. useful for tuning.
#CYNC_CMD_BROADCASTS=2
# Limit the maximum number of Wi-Fi Cync devices that can connect at once
#CYNC_MAX_TCP_CONN=8
# Comma separated list of IPs to allow connecting to the CyncLAN server [default: all IPs allowed]
# Can also be used to limit # of devices that can connect
#CYNC_TCP_WHITELIST: ""
# Delay in seconds to wait before responding to TCP connections from devices that are not on the whitelist.
# Devices will spam new connections if we close them right away, this ties them up for a bit.
#CYNC_TCP_BLACKHOLE_DELAY=14.95

### LOGGING
# Debug logging
#CYNC_DEBUG=1
# Raw binary data logging
#CYNC_RAW_DEBUG=1